/*---- general--------------------------------------------------------------------------------------------------------*/

.espacio-titulo-inicio {
  max-width: 940px;
  padding: 40px 0 40px;
}

.espacio-titulos {
  max-width: 940px;
  padding: 40px 10px 0px;
}

.tamanologos{
  margin-top: 40px;
  max-width: 50%;
}

.espacio-titulos-centro {
  max-width: 940px;
  padding: 40px 10px 0px;
  text-align: center;
}

.colortextolink{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.colores {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  }
  
  .color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-right: 5px;
  }
/*animaciones efectos*/

.textoaparece{
  animation: desaparece 2s cubic-bezier(0.42, 0, 0.58, 1) 1; /* 4s indica la duración de la animación */
}

@keyframes desaparece{
  0%    {opacity: 0;}
  50%   {opacity: 50;}
}

.deslizandocondegradado{
  animation: moveWithDegrade 2s cubic-bezier(0.42, 0, 0.58, 1) 1; /* 4s indica la duración de la animación */
}
@keyframes moveWithDegrade {
  0%   { 
    transform: translateY(20%); 
    opacity: 0;
  }
  50%  { 
    transform: translateY(0); 
    opacity: 50;
  }
}


/*---- inicio----------------------------------------------------------------------------------------------------*/
.tamanoimg{
  width: 95vw;
  height: 47vw;
  padding-inline-start: 5%;
}

.color_rectangulo {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #ffffff;
}

/*tarjetas*/
.tamanocarta{
  width: 300px;
  height: 300px;
  border-radius: 35px;

}

/*---- catalogo ----------------------------------------------------------------------------------------------------*/

.fexbox-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.card {
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos la sombra a la transición */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadimos una sombra suave */
}

.card:hover {
  transform: translateY(-5px); /* Movemos la tarjeta hacia arriba 5px cuando el cursor está sobre ella */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Incrementamos ligeramente la sombra cuando está en hover */
}

.descripcion {
  /* Aquí irían las propiedades de estilos para la descripción si las tienes */
}


/*Estilo de imágenes de relleno en vistas */
.contenedor-imagen {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  max-width: 300px;
}

.imagen {
  max-width: 100%;
  height: auto;
}



  /*Giuly estuvo aquí */

