{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}


{% block nombrePag %}
<title>Inicio Sesión</title>
{% endblock %}

{% block contenido %}
<!-- bienvenida -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 d-flex justify-content-center espacio-titulo-inicio-centro">
      <!-- Alinea al centro en todos los dispositivos -->
      <div class="espacio-titulos-centro fw-bold">
        <h2>Hola Bienvenid@!</h2>
        <h1>al inicio de sesión de</h1>
        <img src="{% static 'nekoBeansWeb/photos/imagenes_NekoBeans/icon_logo/logo_gif.gif' %}" alt="gif_logo" style="max-width: 80%;">
        <h1>Nos alegra verte de nuevo!</h1>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
      <!-- Alinea al centro en todos los dispositivos -->
      <form id="loginForm" class="w-75" method="post" onsubmit="return validarInicioSesion(event)">
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" id="id_username" name="username" placeholder="Nickname" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div id="emailError" class="form-text text-danger"></div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input type="password" class="form-control" id="id_password" name="password">
            <button class="btn" style="background-color: #8ad5b8;" type="button" id="togglePassword" onclick="togglePasswordVisibility()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
              </svg>
            </button>
          </div>
          <div id="passwordError" class="form-text text-danger"></div>      
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
          <button type="submit"  class="btn colortextnarvarapartado me-md-2">Iniciar sesión</button>
          <a href="{% url 'registro' %}" class="btn colortextnarvar">Registrarse</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
