{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Registro</title>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
      <div class="espacio-titulo-inicio-centro fw-bold">
        <h2>Hola Bienvenid@!</h2>
        <h1>al registro de</h1>
        <img src="{% static 'nekoBeansWeb/photos/imagenes_NekoBeans/icon_logo/logo_gif.gif'%}" alt="gif_logo" style="max-width: 80%;">
      </div>
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
      <form class="w-75" method="post" onsubmit="return validarRegistros(event)">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div id="usernameError" class="form-text text-danger"></div>
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Contraseña</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password1" name="password1">
          </div>
          <div id="password1Error" class="form-text text-danger"></div>
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Confirmar Contraseña</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password2" name="password2">
          </div>
          <div id="password2Error" class="form-text text-danger"></div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
          <button type="submit" class="btn btn-primary">registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
