{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Comentarios</title>
{% endblock %}

{% block contenido %}
    <!-- Contenido principal -->
    <div class="container mt-4">
      <div class="row">
          <div class=" espacio-titulo-inicio-izquierda col-12">
              <h2 class="fw-bold">Contáctanos</h2>
              <p>¿Tienes alguna pregunta o comentario? ¡Contáctanos aquí!</p>
              <p>Estamos aquí para ayudarte. Si necesitas asistencia, tienes preguntas sobre nuestros productos o servicios, o simplemente quieres dejar un comentario, no dudes en ponerte en contacto con nosotros. ¡Nos encantaría escucharte!</p>
              <p>Puedes contactarnos a través de los siguientes medios:</p>
              <ul>
                  <li>Correo electrónico: info@nekobeads.com</li>
                  <li>Teléfono: +1234567890</li>
                  <li>Formulario de contacto en nuestro sitio web</li>
                  <li>Visítanos en nuestra tienda física</li>
              </ul>
              <p>Esperamos poder ayudarte pronto. ¡Gracias por tu interés en NekoBeads!</p>
          </div>
      </div>
  </div>
{% endblock %}