{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Funcionamiento</title>
{% endblock %}

{% block contenido %}
  <!--Animación-->
  <div class="container-fluid mt-4">
    <div class="row ms-3">
      <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
        <div class="espacio-titulo-inicio-izquierda row">
          <h1>¿Cómo funciona?</h1>
          <p>¿Quieres saber cómo funcionan nuestros servicios? Obtén más información aquí.</p>
          <h2>Proceso de funcionamiento</h2>
          <ol>
              <li>Selecciona el producto o servicio que deseas.</li>
              <li>Agrega el producto al carrito y procede al pago.</li>
              <li>Una vez realizado el pago, nuestro equipo procesará tu pedido.</li>
              <li>Recibirás una confirmación por correo electrónico con los detalles de tu pedido.</li>
              <li>¡Disfruta de tu compra!</li>
          </ol>
        </div>
    </div>
    <!--
    <div class="col-md-6 col-sm-12 d-flex justify-content-end">
      <img src="photos/imagenes_NekoBeans/producto_no_encontrado/video_ajustado_producto_no_encontrado.gif" style="max-width: 35%;" > 
    </div> -->
    
    </div>
  </div>
{% endblock %}