{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Construye con nosotros</title>
{% endblock %}

{% block contenido %}
  <!-- Contenido principal -->
  <div class="container-fluid mt-4 ">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex espacio-titulo-inicio-centro">
            <!-- Alinea al centro en todos los dispositivos -->
            <div class="espacio-titulos fw-bolder">
                <h2>¿Quieres construir algo increíble?</h2>
                <div>
                    <h4 class="fw-bold">Comparte tus ideas con nosotros y trabajemos juntos para hacerlas realidad, ya sea de una pequeña estrella hasta una gran pulsera.</h4>
                </div>
                <img class="tamanologos deslizandocondegradado" src="{% static 'nekoBeansWeb/photos/imagenes_NekoBeans/icon_logo/logo_crear.png'%}" alt="icon">
                <!-- Modificado el texto -->
                <h5 style="color: red;">ADVERTENCIA!</h5>
                <h4>Evitemos palabras feas o ofensivas y también cualquier imagen que no sea adecuada.</h4>
            </div>
        </div>



        <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 class="espacio-titulo fw-bold">Ingrese sus datos aquí.</h4>
        
                <div class="mb-3">
                    <label for="id_nombrePlantilla" class="form-label">Nombre de tu plantilla</label>
                    {{ form.nombrePlantilla }}
                </div>
        
                <div class="mb-3">
                    <label for="id_imagen" class="form-label">Adjuntar foto de plantilla</label>
                    {{ form.imagen }}
                </div>
        
                <div class="mb-3">
                    <label for="id_descripcion" class="form-label">Descripción/detalle de la plantilla (opcional)</label>
                    {{ form.descripcion }}
                    {% if form.descripcion.errors %}
                        <div class="text-danger">
                            {{ form.descripcion.errors }}
                        </div>
                    {% endif %}
                </div>
        
                <div class="mb-3">
                    <label for="id_tipo_modo_uso" class="form-label">Modo de Uso</label>
                    {{ form.tipo_modo_uso }}
                    {% if form.tipo_modo_uso.errors %}
                        <div class="text-danger">{{ form.tipo_modo_uso.errors }}</div>
                    {% endif %}
                </div>
        
                <div class="mb-3">
                    <label for="id_categoria" class="form-label">Categoría de la plantilla</label>
                    {{ form.categoria }}
                    {% if form.categoria.errors %}
                        <div class="text-danger">
                            {{ form.categoria.errors }}
                        </div>
                    {% endif %}
                </div>
        
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        

      
    </div>
  </div>
  {% endblock %}