
{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Construye con nosotros</title>
{% endblock %}

{% block contenido %}
  <!-- Contenido principal -->
  <div class="container-fluid mt-4 ">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex espacio-titulo-inicio-centro">
            <!-- Alinea al centro en todos los dispositivos -->
            <div class="espacio-titulos fw-bolder">
                <h2>¿Quieres construir algo increíble?</h2>
                <div>
                    <h4 class="fw-bold">Comparte tus ideas con nosotros y trabajemos juntos para hacerlas realidad, ya sea de una pequeña estrella hasta una gran pulsera.</h4>
                </div>
                <img class="tamanologos deslizandocondegradado" src="{% static 'nekoBeansWeb/photos/imagenes_NekoBeans/icon_logo/logo_crear.png'%}" alt="icon">
                <!-- Modificado el texto -->
                <h5 style="color: red;">ADVERTENCIA!</h5>
                <h4>Evitemos palabras feas o ofensivas y también cualquier imagen que no sea adecuada.</h4>
            </div>
        </div>


        <!-- validacion -->
        <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center ">
            <form class="w-75" onsubmit="return validacionCrear()" enctype="multipart/form-data"> <!-- para que ocupe todo el ancho -->
              <h4 class="espacio-titulo fw-bold">Ingrese sus datos aquí.</h4>
              <!-- 1 -->
                <div class="mb-3">
                    <label for="nombrePlantilla" class="form-label">Nombre de tu plantilla</label>
                    <input type="text" class="form-control" id="nombrePlantilla" name="nombrePlantilla" >
                    <div id="nombrePlantillaError" class="text-danger"></div>
                </div>

              <!-- 2 -->
                <div class="mb-3">
                    <label for="foto" class="form-label">Adjuntar foto de plantilla</label>
                    <input class="form-control" type="file" id="foto" name="foto" >
                    <div id="fotoError" class="text-danger"></div>                   
                </div>

              <!-- 3 -->
                <div class="mb-3">
                  <label for="descripcion" class="form-label">Descripción/detalle de la plantilla</label><label for="descripcion" class="form-label ms-2">(opcional)</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              <!-- 4 -->

              <div class="mb-3">
                <label for="seleccion" class="form-label">Como se puede usar?</label>
                <div class="input-group mb-3">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio2_1" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="btnradio2_1">Colgante</label>
              
                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio2_2" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="btnradio2_2">Broche</label>
              
                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio2_3" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="btnradio2_3">ambos</label>
                  </div>                 
                </div>
              </div>
              <div id="seleccionError" class="text-danger"></div>
                <!-- 5 -->
                <div class="mb-3">
                  <label for="coloresPlantillas" class="form-label">categoria de la plantilla</label>
                  <input type="text" class="form-control" id="coloresPlantillas" name="coloresPlantillas" >
                  <div id="coloresPlantillasError" class="text-danger"></div>  
                </div>
                
                
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}