{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Perfil</title>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class=" p-4 rounded" style="background-image: linear-gradient(to right, #EEF9BF, #A7E9AF);">
        <h2 class="mb-4">Perfil de Usuario</h2>

        {% if user.is_authenticated %}
            <h5>Bienvenido, <strong>{{ user.username }}</strong></h5>
            <p>
                {% if user.is_staff %}
                    <span class="badge" style="background-color: #A7E9AF;">Administrador</span>
                {% endif %}
            </p>
        {% else %}
            <p class="text-danger">Usuario no autenticado</p>
        {% endif %}

        <hr>

        <div class="list-group">
            {% if perms.nekoBeansWeb.view_producto %}
                <a class="list-group-item list-group-item-action" href="{% url 'listar_productos' %}">
                    Listar Productos
                </a>
            {% endif %}
            {% if perms.nekoBeansWeb.view_plantilla %}
                <a class="list-group-item list-group-item-action" href="{% url 'listar_plantilla' %}">
                    Listar Plantillas
                </a>
            {% endif %}
            {% if perms.nekoBeansWeb.view_comentarios %}
                <a class="list-group-item list-group-item-action" href="{% url 'lista_comentarios' %}">
                    Lista Comentarios
                </a>
            {% endif %}
            {% if perms.nekoBeansWeb.view_trabajaconnosotros %}
                <a class="list-group-item list-group-item-action" href="{% url 'lista_peticiones' %}">
                    Listar Peticiones
                </a>
            {% endif %}
            {% if perms.nekoBeansWeb.view_pedido %}
            <a class="list-group-item list-group-item-action" href="{% url 'lista_pedidos' %}">
                pedidos generales
            </a>
            {% endif %}
            <a class="list-group-item list-group-item-action" href="{% url 'tus_pedidos' %}">
                tus pedidos
            </a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="list-group-item list-group-item-action text-danger">
                    Cerrar Sesión
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

