{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>problemas</title>
{% endblock %}

{% block contenido %}
    <!-- Contenido principal -->
    <div class="container mt-4">
      <div class="row">
          <div class="espacio-titulo-inicio-izquierda col-12">
              <h2 class="fw-bold">Problemas con tu pedido</h2>
              <p>¿Tienes problemas con tu pedido? Aquí puedes encontrar soluciones y ayuda.</p>
              <p>Algunas posibles razones por las que podrías estar experimentando problemas con tu pedido incluyen:</p>
              <ul>
                  <li>Retrasos en la entrega</li>
                  <li>Productos dañados durante el envío</li>
                  <li>Artículos faltantes en tu pedido</li>
                  <li>Errores en la facturación</li>
                  <li>Otros problemas relacionados con la compra</li>
              </ul>
              <p>Si estás experimentando alguno de estos problemas o cualquier otro, no dudes en contactarnos. Nuestro equipo de atención al cliente estará encantado de ayudarte a resolver cualquier inconveniente que puedas tener con tu pedido.</p>
          </div>
      </div>
  </div>
{% endblock %}