{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Reparación</title>
{% endblock %}

{% block contenido %}
    <!-- Contenido principal -->
    <div class="container mt-4">
      <div class="row">
          <div class="espacio-titulo-inicio-izquierda col-12">
              <h2 class="fw-bold">Servicio de reparación para tu pedido</h2>
              <p>¿Necesitas reparar algún artículo de tu pedido? ¡No te preocupes! Descubre nuestro servicio de reparación.</p>
              <p>Entendemos que algunos productos pueden dañarse durante el envío o pueden presentar problemas de fabricación. Por ello, ofrecemos un servicio de reparación para garantizar que recibas productos en perfectas condiciones y puedas disfrutarlos al máximo.</p>
              <p>Nuestro servicio de reparación incluye:</p>
              <ul>
                  <li>Reparación de productos dañados</li>
                  <li>Reemplazo de piezas defectuosas</li>
                  <li>Asistencia técnica para resolver problemas relacionados con la fabricación</li>
                  <li>Proceso de reembolso si la reparación no es posible</li>
              </ul>
              <p>Si necesitas utilizar nuestro servicio de reparación, por favor contáctanos y estaremos encantados de ayudarte a resolver cualquier problema que puedas tener con tu pedido.</p>
          </div>
      </div>
  </div>
{% endblock %}