.efecanrvar {
  background-color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.8);
}


.espacio-titulo-inicio-centro {
  padding: 135px 10px 100px;
  text-align: center;
}

.espacio-titulo-inicio-izquierda {
  padding: 135px 10px 100px;
  text-align: left; 
}

.espacio-titulo-inicio-derecha {
  padding: 30px 30px 100px;
  text-align: right; 
}


.espacio-titulos {
  max-width: 940px;
  padding: 60px 10px 0px;
}

.espacio-textos {
  max-width: 940px;
  padding: 10px 0 0px;
  font-weight: bold;
}


.tamanologos{
  margin-top: 40px;
  max-width: 50%;
}

.espacio-titulos-centro {
  max-width: 940px;
  padding: 40px 10px 0px;
  text-align: center;
}

.colortextolink{
  text-decoration: none;
  cursor: pointer;
}

.colorselecnarvar{
  color: #75B79E;
  font-weight: bold;
}

.colortextnarvar{
  color: #6A8CAF;
  font-weight: bold;
}

.colortextnarvarapartado{
  color: #75B79E;
  font-weight: bold;
}

.colorletrastarjetas{
  color: #EEF9BF;
  font-weight: bold;
}

.colores {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  }
  
  .color {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  margin-right: 15px;
  }
/*animaciones efectos*/

.textoaparece{
  animation: desaparece 2s cubic-bezier(0.42, 0, 0.58, 1) 1; /* 4s indica la duración de la animación */
}

@keyframes desaparece{
  0%    {opacity: 0;}
  50%   {opacity: 50;}
}

.deslizandocondegradado{
  animation: moveWithDegrade 2s cubic-bezier(0.42, 0, 0.58, 1) 1;
}
@keyframes moveWithDegrade {
  0%   { 
    transform: translateY(20%); 
    opacity: 0;
  }
  50%  { 
    transform: translateY(0); 
    opacity: 50;
  }
}

.btnlogin {
  padding: 1em 1em;
  border: none;
  border-radius: 1px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #6A8CAF;
  transition: all 1000ms;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #6A8CAF;
}

.btnlogin:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 1px solid #75B79E;
  box-shadow: 4px 5px 17px -4px #75B79E;
}

.btnlogin::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #75B79E;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btnlogin:hover::before {
  width: 200%;
}

/*---- inicio----------------------------------------------------------------------------------------------------*/
.tamanoimg{
  width: 95vw;
  height: 47vw;
  padding-inline-start: 5%;
}

.color_rectangulo {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #ffffff;
}

/*tarjetas*/
.tamanocarta{
  width: 300px;
  height: 300px;
  border-radius: 35px;

}

/*---- catalogo ----------------------------------------------------------------------------------------------------*/

.fexbox-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos la sombra a la transición */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Añadimos una sombra suave */
}

.card:hover {
  transform: translateY(-5px); /* Movemos la tarjeta hacia arriba 5px cuando el cursor está sobre ella */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Incrementamos ligeramente la sombra cuando está en hover */
}



.contenedor-imagen {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  max-width: 300px;
}

.imagen {
  width: 100%;
  height: 100%;
}

.imagen-modal {
  max-width: 100%;
  height: auto;
}

.form-control-lg {
  width: 20px; /* Ajusta este valor según tu preferencia */
}

.center-input {
  display: flex;
  align-items: center;
}

  /*Giuly estuvo aquí */


.mensaje-column {
  max-width: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.carrito {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carrito-items {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.carrito-item-titulo {
  flex: 1;
}

.carrito-item-precio {
  flex: 1;
}

.carrito-item-cantidad {
  width: 60px;
}

.carrito-total {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}

.btn-eliminar {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-pagar {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
