{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Construye con nosotros</title>
{% endblock %}

{% block contenido %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex espacio-titulo-inicio-centro">
            <div class="espacio-titulos fw-bolder">
                <h2>¿Quieres construir algo increíble?</h2>
                <div>
                    <h4 class="fw-bold">Comparte tus ideas con nosotros y trabajemos juntos para hacerlas realidad, ya sea de una pequeña estrella hasta una gran pulsera.</h4>
                </div>
                <img class="tamanologos deslizandocondegradado" src="{% static 'nekoBeansWeb/photos/imagenes_NekoBeans/icon_logo/logo_crear.png'%}" alt="icon">
                <h5 style="color: red;">ADVERTENCIA!</h5>
                <h4>Evitemos palabras feas o ofensivas y también cualquier imagen que no sea adecuada.</h4>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <form method="post" enctype="multipart/form-data" onsubmit="return validacionCrear()">
                {% csrf_token %}
                <h4 class="espacio-titulo fw-bold">Ingrese sus datos aquí.</h4>
                <div class="mb-3">
                    <label for="nombrePlantilla" class="form-label">Nombre de tu plantilla</label>
                    {{ form.nombrePlantilla }}
                    <div id="nombrePlantillaError" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="foto" class="form-label">Adjuntar foto de plantilla</label>
                    {{ form.imagen }}
                    <div id="fotoError" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción/detalle de la plantilla</label>
                    {{ form.descripcion }}
                    <div id="descripcionError" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="tipo_modo_uso" class="form-label">Modo de Uso</label>
                    {{ form.tipo_modo_uso }}
                    <div id="tipoModoUsoError" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría de la plantilla</label>
                    {{ form.categoria }}
                    <div id="categoriaError" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        text: "{{ message }}",
        icon: "success"
    });
</script>
{% endfor %}
{% endif %}
{% endblock %}
