{% extends 'nekoBeansWeb/narvar_footer.html' %}
{% load static %}

{% block nombrePag %}
<title>Lista de Plantillas</title>
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h4 class="espacio-titulos">Lista de Plantillas</h4>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Foto</th>
                            <th scope="col">Título</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Modo de Uso</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Creador</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plantilla in plantillas %}
                        <tr>
                            <td><img src="{{ plantilla.imagen.url }}" alt="{{ plantilla.nombrePlantilla }}" style="max-width: 100px;"></td>
                            <td>{{ plantilla.nombrePlantilla }}</td>
                            <td>{{ plantilla.descripcion }}</td>
                            <td>{{ plantilla.get_tipo_modo_uso_display }}</td>
                            <td>{{ plantilla.categoria }}</td>
                            <td>{{ plantilla.creador.username }}</td>
                            <td>
                                <a href="{% url 'crear_producto_con_plantilla' plantilla.id %}" class="btn btn-sm btn-success">agregar a productos</a>
                                <a href="{% url 'eliminar_plantilla' plantilla.id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta plantilla?')">Eliminar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No hay plantillas disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
